nav{
    text-align: center ;
    margin: auto;
    position: absolute; 
    top: 15%; 
    left: 50%;  
    transform: translate(-50%, -90%);
    color: gray;
   }
   a{
       color: black;
   }
   img{
    width:50%;
    min-height:50;
   }

section1{
    
   text-align:right ;
   padding: 20px 15px;
   font-size:small;
   font-weight: 80;
   text-transform: uppercase;
   height: 20px;   
   margin: 0; 
   position: absolute;  
   top: 50%; 
   right: 70%;  
   transform: translate(-50%, -200%);
}
section2{
text-align:right ;
   padding: 20px 15px;
   font-size:small;
   font-weight: 80;
   text-transform: uppercase;
   height: 20px;   
   margin: 0; 
   position: absolute;  
   top: 50%; 
   right: 50%;  
   transform: translate(-50%, -200%);
 
}
section3{
   text-align:left ;
       padding: 20px 15px;
       font-size:small;
       font-weight: 80;
       text-transform: uppercase;
       height: 20px;   
       margin: 0; 
       position: absolute;  
       top: 50%; 
       left: 62%;  
       transform: translate(-50%, -200%);
       color: black;
   }
   section4{
       text-align:left ;
           padding: 20px 15px;
           font-size:small;
           font-weight: 80;
           text-transform: uppercase;
           height: 20px;   
           margin: 0; 
           position: absolute;  
           top: 50%; 
           left: 85%;  
           transform: translate(-50%, -200%);
   }